# Backend (Rust)
backend/target
backend/recipes.db
backend/recipes.db-shm
backend/recipes.db-wal
backend/.env
backend/.sqlx

# Frontend (Flutter)
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.pub-cache/
frontend/.pub/
frontend/pubspec.lock

# other
TODO.md
Notes.md
